/*
Dark Mode notes (to use later if I change my mind on the overall color scheme)

top header bg color: #202020
top header text color: same
body color: #b3b9c5
body background color: #202020
*/

:root {
  --dark-blue: #1c2532;
  --light-blue: #a9c7df;
  --body-background-color: #f5f5f5;
}

body {
  background-color: var(--body-background-color);
  word-break: break-word;
  /* color: #20252d; */
}

li {
  margin-bottom: 10px;
}

article a {
  /* color: #337ab7; */
  color: #f6491a;
}

article a:hover,
article a:focus {
  color: #ac3312;
}

.intro-header {
  background-color: var(--dark-blue);
  margin-bottom: 20px;
}

.intro-header .post-heading {
  padding: 75px 0 65px;
}

.post-heading > h1 {
  color: var(--light-blue);
  font-weight: 700;
}

.navbar > .container .navbar-brand,
.navbar > .container-fluid .navbar-brand {
  color: var(--light-blue);
  font-weight: normal;
  font-size: 2.2rem;
}

.navbar > .container-fluid .navbar-brand:hover {
  color: var(--body-background-color);
}

footer span {
  color: var(--dark-blue);
}

footer span .fa-inverse {
  color: var(--light-blue);
}

footer span .fa-inverse:hover {
  color: var(--body-background-color);
}

/* section below for styling nav menu */

/* .navbar-custom .nav li a {
  color: var(--light-blue);
  text-transform: none;
  font-weight: normal;
  font-size: 1.5rem;
} */

/* Hide small screen hamburger menu */

.navbar-toggle {
  display: none;
}

.container-fluid > .navbar-collapse,
.container-fluid > .navbar-header,
.container > .navbar-collapse,
.container > .navbar-header {
  background-color: var(--dark-blue);
}

.navbar-default {
  border-color: var(--dark-blue);
}

/* change Lola font to Open Sans */

.serif,
body,
.intro-header .post-heading .meta {
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

/* changes to inline code styling */

code {
  background-color: rgba(0, 0, 0, 0.09);
  color: #333;
  border-radius: 0;
  padding: 2px 4px;
  font-size: 90%;

  /* need the important addition below to prevent horizontal scrolling in code examples */
  white-space: pre-wrap !important;
}
